<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="Tests/bootstrap.php"
>

    <testsuites>
        <testsuite name="JMSTranslationBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="SYMFONY_PHPUNIT_REQUIRE" value="nikic/php-parser:^4.9" />
        <env name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
    </php>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>
</phpunit>
