    <table>
        <thead>
            <tr>
                {% include 'JMSTranslationBundle:Translate:_headers.html.twig' %}
            </tr>
        </thead>
        <tbody>
            {% for id, message in messages %}
            <tr>
                <td>
                    {% include 'JMSTranslationBundle:Translate:_message_id.html.twig' with {'id':id} %}
                </td>
                <td>
                    {% include 'JMSTranslationBundle:Translate:_message_form.html.twig' with {'id':id, 'isWriteable':isWriteable, 'message':message} %}
                <td>
                    {% include 'JMSTranslationBundle:Translate:_message_info.html.twig' with {'message':message, 'alternativeMessages':alternativeMessages} %}
                </td>
                {% include 'JMSTranslationBundle:Translate:_extras.html.twig' with {'message':message} %}
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No messages found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
